.card-list {
  width: 85vw;
  margin: 0 auto; /*the object will sit centrally within it's parent
                                                container. */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
